<!-- Main Content -->
<main class="content">
    <div class="header-list-page">
        <h1 class="title">Products</h1>
        <a href="<?php echo URL_MAIN; ?>/products/add" class="btn-action">Add new Product</a>
    </div>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">SKU</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Price</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Quantity</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Categories</span>
            </th>

            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php foreach($this->getBd()['products'] as $product): ?>
        <tr class="data-row" id="del<?php echo $product->getId(); ?>">
            <td class="data-grid-td">
                <span class="data-grid-cell-content"><?php echo $product->getName(); ?></span>
            </td>

            <td class="data-grid-td">
                <span class="data-grid-cell-content"><?php echo $product->getSku(); ?></span>
            </td>

            <td class="data-grid-td">
                <span class="data-grid-cell-content">R$ <?php echo value($product->getPrice()); ?></span>
            </td>

            <td class="data-grid-td">
                <span class="data-grid-cell-content"><?php echo $product->getAmount(); ?></span>
            </td>

            <td class="data-grid-td">
                <span class="data-grid-cell-content">
                    <?php foreach($product->getCategories() as $category){ echo $category->getName().'<br />'; } ?>
                </span>
            </td>

            <td class="data-grid-td">
                <div class="actions">
                    <div class="action edit">
                        <span>
                            <a href="<?php echo URL_MAIN; ?>/products/<?php echo $product->getId(); ?>" title="">Edit</a>
                        </span>
                    </div>
                    <div class="action delete">
                        <span>
                            <a href="javascript:void(0)" onclick="deleteProduct('<?php echo URL_MAIN; ?>', <?php echo $product->getId(); ?>)" title="">Delete</a>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <?php endforeach; ?>

    </table>
</main>
<!-- Main Content -->