<!-- Main Content -->
<main class="content">
    <div class="header-list-page">
        <h1 class="title">Categories</h1>
        <a href="<?php echo URL_MAIN; ?>/categories/add" class="btn-action">Add new Category</a>
    </div>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Code</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php foreach ($this->getBd()['categories'] as $category): ?>
        <tr class="data-row" id="del<?php echo $category->getId(); ?>">
            <td class="data-grid-td">
                <span class="data-grid-cell-content"><?php echo $category->getName(); ?></span>
            </td>

            <td class="data-grid-td">
                <span class="data-grid-cell-content"><?php echo $category->getName(); ?></span>
            </td>

            <td class="data-grid-td">
                <div class="actions">
                    <div class="action edit">
                        <span>
                            <a href="<?php echo URL_MAIN; ?>/categories/<?php echo $category->getId(); ?>" title="">Edit</a>
                        </span>
                    </div>
                    <div class="action delete">
                        <span>
                            <a href="javascript:void(0)" onclick="deleteCategory('<?php echo URL_MAIN; ?>', <?php echo $category->getId(); ?>)" title="">Delete</a>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
</main>
<!-- Main Content -->